* {
  box-sizing: border-box;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
body {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-rows: 900px 500px 520px 510px 500px 400px 510px;
  grid-auto-rows: 600px;
}
/* section {
  border: 1px solid red;
} */
.HERO {
  grid-column: span 4;
  width: 100%;
  height: 100%;
  position: relative;
}
.HERO_IMAGE {
  background: url("img/HERO_IMAGE.png") center/cover no-repeat;
  height: 100%;
  width: 100%;
}
.gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 223, 198, 0.6);
  display: grid;
  grid-template-rows: 250px 1fr 1fr;
}
.slanted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-image: linear-gradient(
    140deg,
    transparent 60%,
    rgba(31, 160, 134, 0.3) 40%
  );
}
header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  padding: 120px;
  padding-top: 50px;
}
.main {
  padding-left: 120px;
  width: 660px;
}
.logo {
  font-size: 4em;
  justify-self: left;
  align-self: center;
}
nav {
  justify-self: right;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px;
}
nav > a {
  justify-self: center;
}
nav > h6 {
  justify-self: center;
}
.main > h2 {
  font-size: 72px;
  /* width:426px; */
}
.main > p {
  margin-top: 45px;
  /* width: 426px; */
  font-size: 30px;
  line-height: 1.5;
  text-align: left;
}
.main > p > b {
  font-weight: bold;
}
.left_column,
.right_column {
  grid-column: span 2;
}
.left_column {
  position: relative;
}
.left_column > figure {
  background: url("img/PHOTO.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.left_column > .red {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(227, 71, 75, 0.5);
}
.right_column > h5 {
  font-weight: bold;
  font-size: 24px;
  color: #8a8989;
  margin-left: 45px;
  margin-top: 100px;
}
.right_column > p {
  margin-left: 45px;
  margin-top: 40px;
  font-size: 36px;
  color: #8a8989;
}
.first > figure {
  background: url("img/PHOTO1.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.second > figure {
  background: url("img/PHOTO2.png") center/100% 100% no-repeat;
  width: 100%;
  height: 100vh;
}
.third > figure {
  background: url("img/PHOTO3.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.fourth > figure {
  background: url("img/PHOTO4.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.instagram {
  grid-column: span 2;
  background-color: #3f729b;
  padding-left: 200px;
  padding-right: 50px;
}
.instagram > h5 {
  font-size: 24px;
  color: rgb(249, 249, 249);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding-top: 120px;
  padding-bottom: 40px;
}
.instagram > p {
  font-size: 36px;
  color: rgb(249, 249, 249);
  font-weight: 100;
  line-height: 1.2;
  text-align: left;
}
.instagram > button {
  width: 270px;
  height: 55px;
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 50px;
}
.instagram > button > a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
.fifth > figure {
  background: url("img/PHOTO5.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.empty {
  background: #3f729b;
}
.music {
  grid-area: span 2 / span 4;
  position: relative;
}
.music > figure {
  background: url("img/music.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.music_player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 500px 1fr;
}
.empty_gray {
  background: #282b2f;
  grid-row: span 2;
}
.play {
  background-color: #212227;
  color: #2ebd59;
  padding-left: 62px;
  padding-right: 70px;
}
.play > h5,
.play > h6 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 125px;
}
.play > h6 {
  font-weight: normal;
  margin-top: 16px;
}
.play > p {
  margin-top: 43px;
  font-size: 14px;
  color: rgb(249, 249, 249);
  line-height: 1.5;
}
.play > button {
  width: 170px;
  height: 45px;
  background: transparent;
  border: 2px solid #2ebd59;
  border-radius: 20px;
  margin-top: 50px;
  color: #2ebd59;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.778;
  position: relative;
  text-align: left;
  padding-left: 20px;
}
.play > button > span:after {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-left: 15px solid #2ebd59;
  top: 12px;
  right: 5px;
}
.spotify {
  background-color: #2ebd59;
  color: white;
  padding-left: 214px;
  padding-right: 80px;
  grid-column: span 2;
}
.spotify > h5,
.itunes > h5 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-top: 137px;
}
.spotify > p,
.itunes > p {
  margin-top: 45px;
  font-size: 36px;
  line-height: 1.2;
  text-align: left;
}
.spotify > button,
.itunes > button {
  background: transparent;
  border: 1.87px solid white;
  width: 276.26px;
  height: 52.26px;
  margin-top: 40px;
  border-radius: 25px;
}
.spotify > button > a,
.itunes > button > a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}
.itunes {
  grid-column: span 2;
  background: #282b2f;
  color: white;
  padding-left: 75px;
  padding-right: 290px;
}
.footer {
  grid-column: span 4;
  background: #212227;
  padding-top: 100px;
  padding-left: 210px;
  padding-right: 210px;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 120px;
}
.column1 > h5,
.contacts > h5,
.follow > h5,
.subscribe > h5,
.sponsor > h5 {
  font-size: 18px;
  color: rgb(249, 249, 249);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 20px;
}
.column1 > p,
.contacts > address > span,
.subscribe > p,
.sponsor > p {
  font-size: 14px;
  color: rgb(145, 145, 145);
  line-height: 1.5;
  text-align: left;
}
.column2,
.column3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.follow {
  display: grid;
  grid-auto-rows: 1fr;
}
.follow > div {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 10px;
}

.follow > div > a {
  align-self: center;
  text-transform: uppercase;
  color: rgb(145, 145, 145);
}
.sponsors {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 10px;
}
.sponsors > div {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  color: white;
  padding: 20px;
  align-self: center;
}
.fab,
.far {
  font-size: 20px;
  color: rgb(145, 145, 145);
  margin: 10px;
  align-self: center;
}
.subscribe > input {
  background-color: rgb(144, 145, 147);
  opacity: 0.4;
  width: 480px;
  height: 60px;
  border: none;
  outline: none;
  position: relative;
  margin-top: 20px;
}
.subscribe > input::placeholder {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #dbdbdb;
}
.subscribe > input:after {
  content: "";
  background-image: url("img/arrow.png");
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
